<!-- app/views/contact_submissions/new.html.erb -->
<h1>Contact Us</h1>
<%= form_with(model: @submission, url: '/contact_submit', method: 'post') do |form| %>
  <label for="name">Name:</label>
  <%= form.text_field :name, required: true %>
  <label for="email">Email:</label>
  <%= form.email_field :email, required: true %>
  <label for="message">Message:</label>
  <%= form.text_area :message, required: true %>
  <%= form.submit 'Submit' %>
<% end %>
